.loadingAllPins {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  
}

.allPins {
  columns: 7 220px;
  column-gap: 1em;
  height: 3898px;
  /* width: 1920px;  */
  
  /* width: 100%; */
  padding: 0 10px 0 10px;
  margin: 30px auto;
  margin-left: 80px;
  margin-right:80px;
  /* overflow-y: hidden; */
}
.pinIndex {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* border:1px solid red; */
  height: auto;
}

/* parent */
.pinIndexItem {
  margin: 0;
  display: block;
  position: relative;
  /* width: 220px; */
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}

/* children */
.boardNSaveEdit {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 90%;
  left: 10px;
  bottom: 10px;
  transform: translateY(-170%);
  z-index: 2;
}

/* children */
.boardNSave {
  display: flex;
  color: rgb(244, 240, 240);
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 90%;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.pinImg {
  -webkit-filter: brightness(100%);
  /* height: 300px; */
  height: auto;
  width: 100%;
  /*  instructs the browser to scale the image or video to cover the entire available space within its container, while maintaining the aspect ratio */
  object-fit: cover;
  border-radius: 15px;
  display: block;
}

.pinIndexItem .boardNSave {
  visibility: hidden;
}

.pinIndexItem:hover .pinImg {
  -webkit-filter: brightness(70%);
  
  cursor: zoom-in;
}

.pinIndexItem:hover .boardNSave {
  visibility: visible;
  -webkit-filter: brightness(100%);
}

.saveButton {
  background-color: red;
  color: white;
  border-radius: 30px;
  padding: 1em;
  border: 0;
}

.saveButton:hover {
  -webkit-filter: brightness(70%);
}

.boardOption {
  border: 0;
  background-color: transparent;
  color: white;
  width: 40%;
  cursor: pointer;
}
.boardOption:hover {
}

.save-dropdown {
  background-color: rgb(255, 255, 255);
  width: 360px;
  height: 564.3px;
  z-index: 5;
  position: absolute;
  top: 50px;
  border-radius: 16px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.saveDropDownSecondPart {
  /* border: 1px solid red; */
  height: 350px;
  overflow-y: auto;
}

.dropDownContainer {
  margin: 20px;
}

.save-dropdown img {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

.saveBoardLine {
  display: flex;

  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
}

.saveBoardLine:hover {
  font-size: large;
  background-color: rgba(220, 220, 220, 0.702);
  border-radius: 10px;
}

.save-dropdown.hidden {
  display: none;
}

.boardNameCover {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  box-shadow: 10px black;
}

.user-pic-allPin {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5em;
}
.pinName {
  margin: 0;
  padding-left: 1em;
}
.allPinUserInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1em;
}
