.allPins {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

/* parent */
.pinIndexItem {
  margin: 0.5em;
  display: block;
  position: relative;
}

/* children */
.boardNSave {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 90%;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.pinImg {
  -webkit-filter: brightness(100%);
  height: 300px;
  width: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.pinIndexItem .boardNSave {
  visibility: hidden;
}

.pinIndexItem:hover .pinImg {
  -webkit-filter: brightness(70%);
}

.pinIndexItem:hover .boardNSave {
  visibility: visible;
  -webkit-filter: brightness(100%);
}

.saveButton {
  background-color: red;
  color: white;
  border-radius: 30px;
  padding: 1em;
  border: 0;
}

.saveButton:hover {
  -webkit-filter: brightness(70%);
}

.boardOption {
  border: 0;
  background-color: transparent;
  color: white;
  width: 40%;
}

.save-dropdown img {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin-right: 10px;
  z-index: 5;
}
.save-dropdown {
  background-color: lightgrey;
  width: 360px;
  height: 564.3px;
}

.saveBoardLine {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.save-dropdown.hidden {
  display: none;
}
