.info-container {
  /* border: 3px solid gray; */
  min-height: 300px;
  height: fit-content;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.manage-board-buttons-container {
  /* border: 3px solid lime; */
}
.pinsCountNumber {
  margin-left: 150px;
}
.board-cover-container {
  /* border: 3px solid purple; */
}
.board-cover-container img {
  /* border: 3px solid purple; */
  width: 250px;
  height: 160px;
  object-fit: cover;
  border-radius: 20px;
}

.secret {
  /* border: 3px solid gray; */
  color: lightgray;
}

/* .pin-gallery-grid{
    border: 3px solid red;
    height: 600px;
    max-height: fit-content;
    min-width: 800px;
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 3px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-auto-rows: 300px;
    grid-auto-rows: auto;
} */

.pin-gallery-grid {
  /* border: 3px solid red; */
  /* min-width: 70%;
  width: 100%;
  height: fit-content;
  margin: 2px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; */
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 30px auto;
  gap: 10px; */
  columns: 7 200px;
  column-gap: 1em;
  /* height:2500px; */
  height: fit-content;
  padding: 0 10px 0 10px;
  margin: 30px 80px 0 80px;
}

/* .pin-gallery-grid > li{
    flex: 3 0 auto;
} */

.board-detail-name-container {
  /* border: 3px solid red; */
  position: relative;
}

.boardDescription {
  width: 500px;
  height: 60px;
  overflow-wrap: break-word;
  overflow-y: auto;
  text-align: center;
  margin-top: 2em;
}

.board-detail-more-like-this-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.randomPinsDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:1600px;
  margin-bottom: 30px;
}


.singleBoardPinIdeaImage {
  width:150px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 0.2em 0 0.2em;

}

.singleBoardPinIdeaImage:hover {

}