/* TODO Add site wide styles */
body,
html {
  height: 100%;
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  /* max-width: 100%; */
  /* overflow-y: hidden; */
  overflow-x: hidden;
  margin: 0;
}

* {
  font-family: "Nunito Sans", sans-serif;
}

button {
  cursor: pointer;
}
