.allPins {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* parent */
.pinIndexItem {
  margin: 0.5em;
  display: block;
  position: relative;
  height:300px;
}

/* children */
.boardNSaveEdit {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width:90%;
  left: 10px;
  bottom: 10px;
  z-index: 2;
}

.editButton {
  height:35px;
  width:35px;
  border-radius: 50%;
  border:0;
  padding: 10px;
  -webkit-filter: brightness(70%);
}

.pinImg {
  -webkit-filter: brightness(100%);
  height:300px;
}

.pinIndexItem .boardNSaveEdit {
  visibility: hidden;
}

.pinIndexItem:hover .pinImg {
  -webkit-filter: brightness(70%);
}

.pinIndexItem:hover .boardNSaveEdit {
  visibility: visible;
  -webkit-filter: brightness(100%);
}

.editButton:hover {
  -webkit-filter: brightness(100%);
}

.boardOption {
  border: 0;
  background-color: transparent;
  color: white;
  width: 40%;
}
