.currentPins {
  columns: 7 200px;
  column-gap: 1em;
  height: 3898px;
  padding: 0 10px 0 10px;
  margin: 30px 80px 0 80px;
}

.pinIndexItem {
  display: block;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.boardNSaveEdit {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 85%;
  left: 10px;
  bottom: 10px;
  z-index: 2;
}

.editButton {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 0;
  padding: 10px;
  -webkit-filter: brightness(70%);
}

.pinImg {
  -webkit-filter: brightness(100%);
}

.pinIndexItem .boardNSaveEdit {
  visibility: hidden;
}

.pinIndexItem:hover .pinImg {
  -webkit-filter: brightness(70%);
}

.pinIndexItem:hover .boardNSaveEdit {
  visibility: visible;
  -webkit-filter: brightness(100%);
}

.editButton:hover {
  -webkit-filter: brightness(100%);
}

.boardOption {
  border: 0;
  background-color: transparent;
  color: white;
  width: 40%;
}
