.single-pin_container {
    display: flex;
    align-items: center;
    height: 34rem;
    width: 50rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    margin: 0 auto;
    border-radius: 20px;
}



.single_pin_image {
    height: 30rem;
    width: 400px;
    object-fit: fill;
   padding: 15px;
    border-radius: 30px;
}



.rightSide {
    display: flex;
    height: 34rem;
    width: 400px;
    flex-direction: column;
    align-items: baseline;
    padding: 20px;
    /* justify-content: space-evenly; */
    /* padding-left: 20px;
    padding-right: 25px; */

}

.profile_saved-container {
    display: flex;
    flex-direction: row;
    width: 42%;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 200px;
}

.unsaved_btn{
background-color: black;
    padding: 0;
    border: none;
    width: 70px;
    height: 2.5rem;
    border-radius: 40px;
    color: white;
}

.saved_btn_{
    background-color: red;
        padding: 0;
        border: none;
        width: 70px;
        height: 2.5rem;
        border-radius: 40px;
        color: white;
}

#name_tag {
    font: 20px sans-serif;
    font-weight: bold;
}

.single-pin_user-foloow_container{
    display: flex;
}
