.create-new_pin-container {
  display: flex;
  /* background: rgb(239, 239, 239); */
  flex-direction: column;
  align-items: center;
  height: 44rem;
  width: 100%;
}

.create_form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40rem;
  width: 800px;
  background: white;
  padding: 30px;
  border-radius: 15px;
  /* margin-top: 40px; */
}

.right-Side {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* width: 100%; */
  padding:25px;
}

.left-Side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  width: 300px;
  height: 440px;
  padding: 20px;
  background: rgb(239, 239, 239);
  border-radius: 10px;
  position:relative;
}

.image_drop_zone{
  width: 295px;
  height: 440px;
  padding: 20px;
  background: rgb(239, 239, 239);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.dragActive {
  width:295px;
  height:430px;
  border:3px dashed rgb(148, 148, 148);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.dragNotActive{
  width: 295px;
  height: 430px;
  border: 3px dashed rgb(212, 212, 212);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.recommend {
  position: absolute;
  bottom: 20px;
  text-align: center;
  font-size: 13px;
  color:gray;
}
#file-image_input-field {
  background: rgb(239, 239, 239);
  width: 220px;
  height: 440px;
  border: 3px rgb(215, 212, 212) dashed;
  border-radius: 10px;
  cursor: pointer;
}

#file-image_input-field::placeholder {
  font-weight: bold;
  opacity: 0.5;
  text-align: center;
}

#create-pin-url_input {
  margin-top: 20px;
  border: none;
  background: rgb(239, 239, 239);
  border-radius: 20px;
  height: 40px;
}

#create-pin-url_input::placeholder {
  text-align: center;
}

.category-save_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 40px;
}

#save-create_btn {
  background: red;
  color: white;
  border: none;
  width: 80px;
  height: 50px;
  border-radius: 30px;
}

.error {
  color: red;
  font-size: 11px;
  
  margin:0;
}

.noErrorDisplay {
  margin:0;
}
.showCharacterLength {
  font-size: 11px;
  margin:0;
}
.reachedMax {
  font-size: 11px;
  color:red;
}

/* #select-create_pin-board {
    border: none;
        height: 35px;
        font-size: 18px;
        background: rgb(239, 239, 239);
        width: 170px;
        border-radius: 7px 0px 0px 7px;
        padding-left: 5px;
} */

#select-create_pin-category {
  border: none;
  height: 35px;
  font-size: 18px;
  background: rgb(239, 239, 239);
  width: 170px;
  border-radius: 7px;
  padding-left: 5px;
}

.add-your_title {
  /* padding-bottom: 60px; */
}

#ad-your_title-input {
  border: none;
  font-weight: bold;
  font-size: 32px;
  border-bottom: 1px rgb(182, 181, 181) solid;
  width: 100%;
  padding-bottom: 10px;
}

#description-input_ {
  border: none;
  color: rgb(178, 174, 174);
  width: 100%;
  font-size: 15px;
  border-bottom: 1px rgb(182, 181, 181) solid;
  padding-bottom: 20px;

  margin-top: 40px;
}

.profile_pic {
  width: 60px;
  height:60px;
  border-radius: 50%;
  margin-right:1em;
}

.userInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.userName {
  margin:0;
  font-size: 13px;
}

.previewImage {
  width:340px;
  height:450px;
  object-fit: cover;
}
.preview {
  display: block;
  position: absolute;
  z-index: 4;
  top: 15px;
  left:0px;
}

.trashDiv {
  display: block;
  position: relative;
}
.trashbutton{
  position:absolute;
  top:-50px;
  left:0px;
  cursor: pointer;
  color:rgba(0, 0, 0, 0.866);
  background-color: white;
  height:45px;
  width: 45px;
  border-radius: 50%;
  border: 0;
}
.trashbutton{
  position: relative;
}

.trashbutton:before {
  content: attr(data-text);
  position: absolute;
  top: 50px;
  transform: translateX(70%);
  right:60px;
  /* margin-left: 15px; */
  width: 80px;
  padding: 8px;
  font-size: 11px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  text-align: center;
  display: none;
  position: absolute;
}
.trashbutton:hover:before{
  display: block;
}
.trashbutton.left:before{
  left: initial;
  margin: initial; 
   
    /* set new values */
    right:90%;
    /* margin-right: 15px; */
}
.trashbutton:hover {
  filter:brightness(0.85)
}
