.follow-gallery-container{
    /* border: 3px solid lime; */
    padding: 10px;
    min-width: 550px;
    width: 550px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.follows-ul-container{
    /* border: 3px solid brown; */
    width: 100%;
}